<button  (click)="file.click()" class="ml-2" mat-raised-button color="primary">SELECIONE O ARQUIVO</button>
<input  (change)="onFileChange($event)" id="file" accept="video/*"  enctype="multipart/form-data" class="inputfile"  name="file" type="file" #file/>

<button (click)="onClickSend()">Send</button>

<div *ngIf="fileResult">
    <h4>Seu arquivo foi enviado!</h4>
    <button (click)="onClickEncode()" >Encode</button>
</div>


<div *ngIf="createdEncoding">
    <h4>Seu Encoding foi criado!</h4>
    <h4>{{createdEncoding | json }}</h4>
</div>

<div *ngIf="encodingDataUpdate && encodingDataUpdate.length !== 0">
    <h4>Checando os dados do seu encoding:</h4>
    <h4 *ngFor="let enc of encodingDataUpdate; index as i" >{{i + 1}} - {{enc | json }}</h4>
</div>

<div *ngIf="encodingFinished">
    <h1>Seu encoding finalizou</h1>
    <button (click)="onClickGerarManifest()" >Gerar manifest</button>
</div>