<div class="router-padding">
    <mat-card *ngIf="false" class="card">
        <mat-card-header>
            <mat-card-title>Primeiro passo</mat-card-title>
            <mat-card-subtitle>Enviar o seu vídeo</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p class="ml-2">
                Alguns detalhes importantes:

            </p>
        </mat-card-content>
        <button class="ml-2" mat-raised-button color="primary">SELECIONE O ARQUIVO</button>
    </mat-card>
    <mat-accordion multi="true" class="mb">
        <mat-expansion-panel [disabled]="step != 1" #panel1 class="mb">
            <mat-expansion-panel-header>
                <mat-panel-title class="bigger">
                    Primeiro passo
                </mat-panel-title>
                <mat-panel-description class="lbigger">
                    Envie o seu arquivo
                </mat-panel-description>

            </mat-expansion-panel-header>
            Alguns detalhes importantes:
            <ul>
                <li>O vídeo deve ter no máximo 20 MB</li>
                <li>O Open Encoder está em fase de teste e você poderá ver apenas 5 segundos do seu vídeo convertido
                </li>
            </ul>
            <app-file-upload *ngIf="step == 1 || step == 2"></app-file-upload>




        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="step == 1 || step == 4 || step == 5" [disabled]="true" class="mb">
            <mat-expansion-panel-header>
                <mat-panel-title class="bigger">
                    Segundo passo
                </mat-panel-title>
                <mat-panel-description class="lbigger">
                    Aguarde o envio do arquivo
                </mat-panel-description>
            </mat-expansion-panel-header>
        </mat-expansion-panel>

        <mat-expansion-panel [ngClass]="{'gone': step != 2 && step != 3}" #panel2 class="mb">
            <mat-expansion-panel-header>
                <mat-panel-title class="bigger">
                    <div *ngIf="step == 2" class="spinner-container">
                        <mat-spinner [diameter]="40" class="small-spinner spinner"></mat-spinner>
                    </div>
                    <div *ngIf="step == 3">
                        Segundo passo
                    </div>
                </mat-panel-title>
                <mat-panel-description class="lbigger">
                    Escolha a qualidade do seu encoding
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-card-content [ngClass]="{'gone': step != 3}">
                <mat-form-field>
                    <mat-label>Escolha</mat-label>
                    <mat-select [(value)]="selected">
                        <mat-option #select *ngFor="let qual of qualities" [value]="qual.value">
                            {{qual.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div> <button class="ml-2" [disabled]="!selected" (click)="onClickEncode()" mat-raised-button
                        color="primary">GERAR O MEU LINK</button></div>
            </mat-card-content>
        </mat-expansion-panel>





        <mat-expansion-panel *ngIf="(step != 4 && step != 5  && !userHasEncodings && !clickedSendAnother)" [disabled]="true" class="mb">
            <mat-expansion-panel-header>
                <mat-panel-title class="bigger">
                    <div>
                        Terceiro passo
                    </div>
                </mat-panel-title>
                <mat-panel-description class="lbigger">
                    Aguarde o seu encoding ficar pronto
                </mat-panel-description>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel
            [ngClass]="{'gone': (step != 4 && step != 5 && !userHasEncodings && !clickedSendAnother) || (!userHasEncodings && step == 2 && !clickedSendAnother)}"
            class="mb" #panel3>
            <mat-expansion-panel-header>
                <mat-panel-title class="bigger">
                    <div>
                        Terceiro passo
                    </div>
                </mat-panel-title>
                <mat-panel-description class="lbigger">
                    Aguarde o seu encoding ficar pronto
                </mat-panel-description>
            </mat-expansion-panel-header>
            <table #processingEncodingTable mat-table [dataSource]="oneEncodingTableDS" class="mb mat-elevation-z8">

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Nome </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="createdAt">
                    <th mat-header-cell *matHeaderCellDef> Criado em </th>
                    <td mat-cell *matCellDef="let element"> {{timeSince(element.createdAt) + " atrás" }} </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>


                <ng-container matColumnDef="eta">
                    <th mat-header-cell *matHeaderCellDef> Tempo restante </th>
                    <td mat-cell *matCellDef="let element"> {{element.eta}} </td>
                </ng-container>


                <ng-container matColumnDef="progress">
                    <th mat-header-cell *matHeaderCellDef> Progresso </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-progress-bar [value]="element.progress" [color]="progressBarColor">
                        </mat-progress-bar>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div>
                <button mat-raised-button [disabled]="step == 2" (click)="onClickEnviarOutro()" *ngIf="!userHasEncodings" color="accent">ENVIAR OUTRO</button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <div *ngIf="userHasEncodings" class="mb">
        <app-encoding-list></app-encoding-list>
        <app-video-player></app-video-player>
    </div>
</div>