<div class="router-padding">
    <mat-card *ngIf="false" class="card">
        <mat-card-header>
            <mat-card-title>Primeiro passo</mat-card-title>
            <mat-card-subtitle>Enviar o seu vídeo</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p class="ml-2">
                Alguns detalhes importantes:

            </p>
        </mat-card-content>
        <button class="ml-2" mat-raised-button color="primary">SELECIONE O ARQUIVO</button>
    </mat-card>

    <mat-accordion multi="true">
        <mat-expansion-panel [disabled]="step != 1" #panel1 class="mb">
            <mat-expansion-panel-header>
                <mat-panel-title class="bigger">
                    Primeiro passo
                </mat-panel-title>
                <mat-panel-description class="lbigger">
                    Envie o seu arquivo
                </mat-panel-description>

            </mat-expansion-panel-header>
            Alguns detalhes importantes:
            <ul>
                <li>O vídeo deve ter no máximo 20 MB</li>
                <li>O Open Encoder está em fase de teste e você poderá ver apenas 5 segundos do seu vídeo convertido
                </li>
            </ul>
            <app-file-upload></app-file-upload>

        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="step == 1" [disabled]="true">
            <mat-expansion-panel-header>
                <mat-panel-title *ngIf="step == 1" [ngClass]="{'bigger': step == 2}">
                    Segundo passo
                </mat-panel-title>
                <mat-panel-title *ngIf="step == 2">
                    <mat-spinner></mat-spinner>
                </mat-panel-title>
                <mat-panel-description class="lbigger">
                    Aguarde o envio do arquivo
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
            <button>Close</button>
        </mat-expansion-panel>
        <mat-expansion-panel [ngClass]="{'gone': step != 2 && step != 3}" #panel2>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div *ngIf="step == 2" class="spinner-container">
                        <mat-spinner [diameter]="40" class="small-spinner spinner"></mat-spinner>
                    </div>
                    Segundo passo
                </mat-panel-title>
                <mat-panel-description class="lbigger">
                    Escolha a qualidade do seu encoding
                </mat-panel-description>
                <h4>Basic mat-select</h4>
                <mat-form-field>
                    <mat-label>Favorite food</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let food of foods" [value]="food.value">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
    </mat-accordion>
</div>