@import './custom-theme.scss';


.ligth{
font: small-caption !important;
}

.text-center{
    text-align: center;
}

.mr-1{
    margin-right: 5px;
}

.mr-2{
    margin-right: 10px;
}

.nml-1{
    margin-left: -15px;
}