<div class="content mb" role="main">

        <!-- Resources -->
        <h1>Bem-vindo</h1>
        <img style="width: 300px; height: 300px;" src="/assets/logo.png">
    
    
        <mat-card class="text-center">
    
          <mat-card-content>
            <h4>O Open Encoder é uma solução gratuita para todos aqueles que desejam converter os seus vídeos para um
              formato
              web.</h4>
            <h4>Utilizando a nossa API, você pode enviar um vídeo e obter um link para assistir quando quiser. </h4>
            <h4>É só enviar o seu arquivo de vídeo e pegar o seu link, simples assim !</h4>
          </mat-card-content>
        </mat-card>
    
        <div (click)="sendRouteToUpload()" class="card-container">
          <a class="card c-h"  rel="noopener" >
            <i class="fa mr-2 nml-1 fa-3x  fa-upload"></i>
            <h2  [routerLink]="['/steps']">Enviar vídeo</h2>
    
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg> </a>
    
        </div>
    
        <div class="card-container">
          <a class="card" target="_blank" rel="noopener" href="https://github.com/caiovitord/Backend-Sambatech-Encoding">
            <i class="fa fa-3x mr-1 fa-github"></i>
            <span>Backend no GitHub</span>
    
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg> </a>
    
          <a class="card" target="_blank" rel="noopener" href="https://github.com/caiovitord/Frontend-Sambatech-Encoder">
            <i class="fa fa-3x mr-1 fa-github"></i>
            <span>Frontend no GitHub</span>
    
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg>
          </a>
        </div>
    
      
    
      </div>